In [5]:
tup1=() # empty tuple

In [6]:
tup2=(10,20,30) # tuple of integers

In [7]:
tup3=(10.77,30.66,60.89) # tuple of float

In [9]:
tup4=('one','two','three') # tuple of string

In [10]:
tup5=('asif',25,(50,100),(150,90)) #nested tuple

In [11]:
tup6=(100,'asif',17.765) #tuple of mixed datatype

In [12]:
tup7=('asif',25,[50,100],[150,90],{'john','David'},(99,22,33))

In [13]:
len(tup7)

6

Tuple indexing

In [14]:
tup2[0] #retrive the first element of tuple2

10

In [15]:
tup4[0] #retrive first element of tuple

'one'

In [16]:
tup4[0][0] # retrive the first element of the tuple

'o'

In [17]:
tup4[-1] #last item of the tuple

'three'

In [18]:
tup5[-1]

(150, 90)

In [37]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [38]:
mytuple[0:3]

('one', 'two', 'three')

In [39]:
mytuple[2:5]

('three', 'four', 'five')

In [40]:
mytuple[:3]

('one', 'two', 'three')

In [41]:
mytuple[:2]

('one', 'two')

In [42]:
mytuple[-3:]

('six', 'seven', 'eight')

In [43]:
mytuple[-2:]

('seven', 'eight')

In [44]:
mytuple[-1]

'eight'

In [45]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

Remove & Change items

In [46]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [47]:
del mytuple[0] #tuples are immutable which we cannot delete tuple item

TypeError: 'tuple' object doesn't support item deletion

In [48]:
mytuple[0]=1 # tuples are immutable which we can't change

TypeError: 'tuple' object does not support item assignment

In [49]:
del mytuple # deleting the entire tuple is possible

Loop through a tuple

In [53]:
mytuple=('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [55]:
for i in mytuple:
  print(i)

one
two
three
four
five
six
seven
eight

In [56]:
for i in enumerate(mytuple):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [57]:
'one' in mytuple #checks if exist in the list,if yes prints true

True

In [58]:
'ten' in mytuple

False

In [59]:
if 'three' in mytuple:
  print('three is present')
else:
  print('three is not present')

three is present

In [60]:
if 'eleven in mytuple':
  print('eleven is present')
else:
  print('eleven is not present')

eleven is present

indexing position

In [61]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [62]:
mytuple.index('one')

0

In [63]:
mytuple.index('five')

4

Sorting

In [64]:
mytuple2=(43,67,99,12,6,90,67)

In [65]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [66]:
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 12, 6]

In [67]:
t=()

In [68]:
type(t)

tuple

In [70]:
t1=(3,4,5,6,7)

In [71]:
type(t1)

tuple

In [72]:
t1.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [73]:
t1.count(5)

1

In [74]:
t.append(19)

AttributeError: 'tuple' object has no attribute 'append'