In [1]:
if True:
    print('hello')

hello

In [3]:
if True:
    print('hello')

hello

In [6]:
if False:
    print('bye')

In [5]:
if True: 
    print('Data Science')
    
print('bye for now')

Data Science
bye for now

In [7]:
if False: 
    print('Data Science')
    
print('bye for now')

bye for now

In [8]:
if True: 
    print('Data Science')
    
print('bye for now')

Data Science
bye for now

In [9]:
if True: 
    print('Data Science')
    
else:
    print('bye for now')

Data Science

In [10]:
if False: 
    print('Data Science')
    
else:
    print('bye for now')

bye for now

In [11]:
x = 4

r = x % 2 

if r == 0:
    print('Even number')

Even number

In [14]:
x = 5

r = x % 2 

if r == 0:
    print('Even number')
else:
    print('none')

none

In [15]:
x = 6

r = x % 2 

if r == 0:
    print('Even number')

if r == 1:
    print('odd number')

Even number

In [16]:
x = 6

r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [17]:
x = 6
r = x % 2 

if r == 0:
    print('Even number')
print('odd number')

Even number
odd number

In [18]:
n=int(input())
if n%2==0:
    print('even')
else:
    print('odd')

 6

even

In [19]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [20]:
x = 5
r = x % 2 

if r == 0:    print('Even number')
else:     print('odd number')

odd number

In [21]:
x = 10
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

Even number

In [22]:
x = 9
r = x % 2 

if r == 0:
    print('Even number')
    
if r != 0:
    print('odd number')

odd number

In [24]:
s='data science'
print(s*100)

data sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata sciencedata science

Nested if

In [23]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [25]:
x = 6
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('smaller number')
  
else:
    print('Odd Number')

Even number
greater number

In [26]:
x = 4

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

four

In [27]:

x = 2

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

Two

In [28]:
x = 10

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

In [29]:
x = 10

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

In [30]:
num = int(input("Enter a number: "))

if num > 0:
 print("Positive")
elif num < 0:
 print("Negative")
else:
 print("Zero")

Enter a number:  6

Positive

In [31]:
num = int(input("Enter a number: "))

if num > 0:
 print("Positive")
elif num < 0:
 print("Negative")
else:
 print("Zero")

Enter a number:  0

Zero

In [32]:
num = int(input("Enter a number: "))

if num > 0:
 print("Positive")
elif num < 0:
 print("Negative")
else:
 print("Zero")

Enter a number:  -4

Negative

FOR LOOP

In [34]:
a=30
b=20
if a>b:
    print("a is greater")

a is greater

In [35]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [36]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [37]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [39]:
i = 5       # initializing
while i>=1:    # condition
    print('data science : ', i)
    i = i - 1  # increment

data science :  5
data science :  4
data science :  3
data science :  2
data science :  1

In [40]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [41]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [42]:
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [43]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [44]:
name='nit'
for i in name:
    print(i)

n
i
t

In [45]:
name1 = [1,3.5,'hallo'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hallo

In [46]:
for i in [2, 3, 7.8, 'hi']:
    print(i)

2
3
7.8
hi

In [47]:
range(5)

range(0, 5)

In [48]:
for i in range(2,5):
    print(i)

2
3
4

In [49]:
for i in range(1,10,3):
    print(i)

1
4
7

In [50]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [53]:
for i in range(1,51):
    if i %5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [54]:
x=int(input())
i=1
while i<=x:
    print('chocolate')
    i+=1

 7

chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate

In [55]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet')
    i += 1

How many choclets you want:? 6

choclet
choclet
choclet
choclet
choclet
choclet

In [56]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets user want:? 7

choclet
choclet
choclet
choclet
choclet
bye for now

In [57]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [58]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets you want:? 9

choclet
choclet
choclet
choclet
choclet
out of stock
bye for now

In [59]:
for i in range(1,11):
    if i == 6:
       break  #will break the execution
    print(i)

1
2
3
4
5

In [60]:
for i in range(1,11):
    if i == 3:
        continue  #will break the current execution it just skip specified one
    print(i)

1
2
4
5
6
7
8
9
10

In [61]:
for i in range(1,11):
    if i == 6:
        continue  
    print('hello :',i)

hello : 1
hello : 2
hello : 3
hello : 4
hello : 5
hello : 7
hello : 8
hello : 9
hello : 10

In [62]:
for i in range(1,11):
    pass

In [63]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [64]:
for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [65]:
for i in range(1,50):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [67]:
for i in range(1,51):
    
    if (i%2 == 0):
        
        continue
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

In [68]:
print('# # # #')
print('# # # #') #time consuming
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [69]:
for i in range(1,5):
    i=i+1
    print('# # # # ')

# # # #
# # # #
# # # #
# # # #

In [70]:
for i in range(1,5):
    if i<=5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [71]:
for j in range(4):
    print('#')

#
#
#
#

In [72]:
for j in range(4):
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [73]:
for j in range(4):
    print('#', end = " ")

# # # #

In [74]:
for j in range(4):
    print('#', end=" ")

for j in range(4):
    print('#', end=" ")

# # # # # # # #

In [75]:
for j in range(4):
    print('#', end=" ")
    
print()
    
for j in range(4):
    print('#', end=" ")

# # # #
# # # #

In [77]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [78]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [80]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [81]:
for i in range(1,5):
    print("* "*i)

*
* *
* * *
* * * *

In [82]:
for i in range(1,5):
    print("i "*i)

i
i i
i i i
i i i i

In [83]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [84]:
list(range(5))

[0, 1, 2, 3, 4]

In [85]:
for i in range(4):
    for j in range(i):
        print('#', end="  ")
    print()

#
#  #
#  #  #

In [88]:
for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #
#  #
#

In [89]:
for i in range(1,5):
    print("# "*(5-i))

# # # #
# # #
# #
#